/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.line{
		width: 90%;
	}
	.my_partner .logo_partner img {
    margin: 40px 18px 30px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.line{
		width: 87%;
	}
	.head_descr{
		position: relative;
		z-index: 5;
	}
	.my_work .left{
		margin-right: 52px;
	}
	.my_work .right{
		margin-left: 108px;
	}
	.my_partner .logo_partner img {
    margin: 9px 18px 15px;
	}
	.form{
		width: 290px;
		margin-bottom: 20px;
	}
	.form h4{
		margin-left: 42px;
		font-size: 16px;
	}
	.form .input_wrap{
		padding: 30px 23px;
	}
	.line_fluid_sect2{
		bottom: 54px;
	}
	.title_wrap h2{
		font-size: 28px;
	}
	.img_wrap_why{
		width: 100%;
		max-width: 489px;
	}
	.img_wrap_why img{
		width: 100%;
	}
	.img_wrap_why::before{
		width: 479px;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		left: -62px;
		bottom: -72px;
	}
	.descr_why p{
		margin-left: 0;
	}
	.descr_why{
		margin-top: 0;
	}


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.line {
    width: 80%;
	}
	.img_girl{
		display: none;
	}
	.head_descr{
		margin: 0;
	}
	.head_descr h1{
		line-height: 54px;
		margin-bottom: 20px;
	}
	.head{
		min-height: 585px;
	}

	.my_work .left{
		float: none;
		text-align: left;
		display: inline-block;
		margin-right: 0;
		padding-left: 20px;
	}
	.my_work .right{
		float: none;
		text-align: left;
		display: inline-block;
		margin-left: 0;
		padding-left: 20px;
	}
	.my_work .col-color .img_wrap_right{
		left: 0;
	}
	.my_work .col-color .img_wrap_left{
		right: 0;
		float: none;
	}
	.my_work .col-color .img_wrap_right img, .my_work .col-color .img_wrap_left img{
		width: 100%;
	}
	.line_fluid_sect2{
		display: none;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev{
		left: -27px;
	}
	.owl-carousel .owl-controls .owl-nav .owl-next{
		right: -27px;
	}
	.img_wrap_call{
		display: none;
	}
	.gradient_wrap{
		text-align: center;
	}
	.descr_call{
		margin-top: 0;
		padding-bottom: 25px;
	}
	.descr_why_left{
		float: none;
		margin-left: 15px;
		text-align: left;
	}
	.descr_why_right{
		float: none;
		margin-left: 15px;
		text-align: left;
	}
	.descr_why{
		margin-bottom: 20px;
	}
	.why{
		text-align: center;
	}

	.img_wrap_why_right{
		margin: 0;
		text-align: center;
		margin-bottom: 30px;
	}
	.img_wrap_why_left{
		margin: 0;
		text-align: center;
		margin-bottom: 30px;
		float: none;
	}
	.question .arrow_form{
		font-size: 18px;
	}
	.footer{
		text-align: left;
	}
	.footer .adress p{
		top: 0;
	}
	.footer .regime{
		display: block;
		margin: 0;
		text-align: center;
	}
	.footer .adress{
		display: block;
		text-align: center;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo{
		display: block;
		float: none;
	}
	.line{
		display: none;
	}
	.logo_descr{
		display: block;
		float: none;
		text-align: right;
	}
	.top_contact{
		float: none;
		display: block;
	}
	.head_descr h1{
		font-size: 44px;
		line-height: 41px;
	}
	.button{
		font-size: 17px;
		padding: 9px 20px;
	}
	.head_descr .button{
		margin-top: 14px;
	}
	.my_partner .title_color{
		padding-top: 0;
	}
	.slide_s .slider .slide{
		width: 216px;
	}
	.slide_s .slider .slide .img_wrap {
    width: 200px;
    height: 200px;
    display: inline-block;
	}
	.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
		width: 30px;
	}
	.title_wrap h2{
		line-height: 34px;
	}
	.wrapper_call_p p{
		font-size: 19px;
		line-height: 24px;
	}
	.question .title_wrap h2{
		font-size: 32px;
	}
	.question .title_wrap p{
		font-size: 20px;
		line-height: 24px;
	}
	.question .arrow_form{
		font-size: 15px;
	}
	.question .arrow_form::before{
		display: none;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}